.navbar {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
}

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #bebebe;
  cursor: pointer;
}
